body{
    background: rgb(78, 20, 29);
    color:aliceblue;
    overflow: hidden;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 0.5fr);
    grid-template-rows: 0.4fr repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    /* Header */
    .div1 {
        grid-area: 1 / 1 / 2 / 6;
        font-family: 'Oleo Script Swash Caps', cursive;
        background: rgba(0, 0, 0, 0.712);
        padding: 1rem;
        text-align: center;
        font-size: x-large;
        width: -webkit-fill-available;
    }
    /* Social Links Container */
    .div2 {
        grid-area: 3 / 2 / 6 / 5;
        background: rgba(0, 0, 0, 0.712);
        font-family: 'Merriweather', serif;
        text-align: center;
        grid-row: 3;

    }
        #socialBlockArrangementParent{
            display: grid;
        }
        #socialBlockArrangementList{
            display: grid;
        }
    /* Beginning of social links */
    .div3 {
        background: blue;
        grid-column: 2;
    }
    .div4 {
        background: red;
    }
    .div5 {
        background: green;
    }
    .div6 {
        grid-area: 4 / 2 / 5 / 3;
        grid-row: 5;
        grid-column: 3;
        background: gray;
    }
    /* Ending of social media links */
    /* Global styling */
    .socialMediaBlockBase{
        width: 300px;
        height: 80px;
        border-radius: 0.5rem;
        box-shadow: 0px 3px 3px 3px black, 0px 0px 1px 1px white;

    }