body{
    background-size: 300% 300%;
    background-image:
    linear-gradient(-10deg, rgb(232, 59, 255) 0%, rgb(255, 0, 43) 35%, rgb(0, 21, 37) 55%, rgb(0, 255, 255) 100%);
    -webkit-animation: animationBG 10s ease infinite;
        animation: animationBG 10s ease infinite;
    color:aliceblue;
    overflow: hidden;
}
@-webkit-keyframes animationBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes animationBG {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 0.5fr);
    grid-template-rows: 0.4fr repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    /* Header */
    .div1 {
        grid-area: 1 / 1 / 2 / 6;
        font-family: 'Oleo Script Swash Caps', cursive;
        background: rgba(0, 0, 0, 0.712);
        padding: 1rem;
        text-align: center;
        font-size: x-large;
        width: -webkit-fill-available;
    }
    /* Social Links Container */
    .div2 {
        grid-area: 3 / 4 / 6 / 3;
        background-image:
        radial-gradient(ellipse at bottom, rgba(173, 0, 95, 0.103), rgba(0, 0, 0, 0.877)),
        repeating-linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.603) 0.5px, rgba(88, 29, 88, 0.521) 0.5px, rgba(0, 0, 0, 0.644) 2.2px),
        linear-gradient(10deg, rgb(232, 59, 255) 0%, rgb(73, 17, 126) 35%, rgb(0, 21, 37) 55%, rgb(0, 255, 255) 100%);
        border-radius: 0.4rem;
        border: 1px solid rgba(20, 0, 58, 0.438);
        box-shadow: 0px 10px 10px 10px black, 0px 0px 1px 1px rgba(255, 255, 255, 0.089) inset;
        font-family: 'Merriweather', serif;
        text-align: center;
        grid-row: 3;
        height: 400px;
        -webkit-animation: animationBG 30s ease infinite;
        animation: animationBG 30s ease infinite;

    }
        h2{
            padding: 1rem;
            box-shadow: 0px 1px rgba(255, 255, 255, 0.103);
            background: linear-gradient(black, rgba(175, 0, 0, 0.158));
        }
        #socialBlockArrangementParent{
            display: grid;
        }
        #socialBlockArrangementList{
            display: grid;
        }
    /* Beginning of social links */
    .div3 {
        background: blue;
        grid-column: 1;
    }
    .div4 {
        background: red;
        grid-column: 2;
    }
    .div5 {
        background: green;
        grid-column: 3;
    }
    .div6 {
        grid-column: 2;
        background: gray;
    }
    /* Ending of social media links */
    /* Global styling */
    .socialMediaBlockBase{
        width: 300px;
        height: 80px;
        margin: 1rem 2rem 1rem 2rem;
        border-radius: 0.5rem;
        border: 1px solid black;
        box-shadow: 0px 1px 10px 0px rgb(0, 0, 0), 0px 0px 1px 1px rgba(255, 255, 255, 0.205) inset;
        background-size: 300% 300%;
        background-image:
        linear-gradient(10deg, rgb(232, 59, 255) 0%, rgb(73, 17, 126) 35%, rgb(0, 21, 37) 55%, rgb(0, 255, 255) 100%);
        -webkit-animation: animationBG 30s ease infinite;
            animation: animationBG 30s ease infinite;
    }