body{
    margin: 0;
    background-size: 300% 100%;

    /* background-image:
    radial-gradient(ellipse at left, rgb(232, 59, 255) 0%, rgb(255, 0, 43) 35%, rgb(0, 21, 37) 55%, rgb(0, 255, 255) 100%);
    -webkit-animation: animationBG 25s ease infinite;
        animation: animationBG 25s ease infinite; */


        /* Lighting for streaming creation - return the following code for it */
    
        background-image:
    radial-gradient(ellipse at top, rgb(255, 203, 59) 0%, rgb(253, 255, 162) 35%, rgb(0, 21, 37) 55%, rgb(255, 205, 68) 100%);
    -webkit-animation: animationBG 25s ease infinite;
        animation: animationBG 25s ease infinite;


    color:aliceblue;
    overflow: hidden;
}
@-webkit-keyframes animationBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes animationBG {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 0.5fr);
    grid-template-rows: 0.4fr repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    /* Header */
    .div1 {
        grid-area:  1 / 1 / 1 / 6;
        font-family: 'Oleo Script Swash Caps', cursive;
        color:rgb(250, 215, 241);
        background: radial-gradient(ellipse at top, rgb(52, 136, 125), rgb(71, 0, 54));
        box-shadow: 0px 0px 30px 20px rgb(0, 0, 0), 0px 0px 20px 0px rgba(255, 255, 255, 0.158) inset;
        border: 1px solid rgb(63, 25, 63);
        height: 110px;
        padding: 0.7rem;
        text-align: center;
        font-size: x-large;
    }

        h1{
            transition: 0.3s;
            margin-top: 0;
            text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.651);
            padding: 1rem;
            background-image:
            radial-gradient(ellipse at bottom, rgba(173, 0, 95, 0.486), rgba(0, 0, 0, 0.877)),
            repeating-linear-gradient(10deg, rgb(0, 0, 0), rgb(88, 29, 88) 1px, rgb(88, 29, 88) 1px, rgb(0, 0, 0) 50px);
            box-shadow: 0px 10px 40px 0px rgb(0, 0, 0), 0px 0px 10px 0px rgba(252, 164, 255, 0.61) inset;
            border: 2px solid rgb(63, 25, 63);
            border-radius: 0.3rem;
        }
            h1:hover{
                transition: 0.3s;
                box-shadow: 0px 10px 40px 0px rgb(0, 0, 0), 0px 0px 18px 0px rgba(252, 164, 255, 0.61) inset;
                border: 2px solid rgb(63, 25, 63);
            }
    /* Social Links Container */
    .div2 {
        grid-area: 2 / 4 / 6 / 3;
        background-image:
        radial-gradient(ellipse at bottom, rgba(173, 0, 95, 0.103), rgba(0, 0, 0, 0.877)),
        repeating-linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.603) 0.5px, rgba(88, 29, 88, 0.521) 0.5px, rgba(0, 0, 0, 0.644) 2.2px),
        linear-gradient(10deg, rgb(232, 59, 255) 0%, rgb(73, 17, 126) 35%, rgb(0, 21, 37) 55%, rgb(0, 255, 255) 100%);
        border-radius: 0.4rem;
        border: 1px solid rgba(20, 0, 58, 0.438);
        box-shadow: 0px 10px 50px 5px rgb(0, 0, 0), 0px 0px 1px 1px rgba(255, 255, 255, 0.048) inset;
        font-family: 'Merriweather', serif;
        text-align: center;
        grid-row: 2;
        height: 570px;
        -webkit-animation: animationBG 30s ease infinite;
        animation: animationBG 30s ease infinite;

    }
        h2{
            padding: 1rem;
            box-shadow: 0px 1px rgba(255, 255, 255, 0.103);
            background: linear-gradient(black, rgba(175, 0, 0, 0.158));
        }
        #socialBlockArrangementParent{
            display: grid;
        }
        #socialBlockArrangementList{
            display: grid;
        }
    /* Beginning of social links */

        /* Global structure for social media links */
            .socialGlobalStructure{
                padding: 0.1rem;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
                background: rgba(0, 0, 0, 0.322);
            }
            .socialGlobalTextStructure{
                text-align: ceenter;
                text-shadow: 0px 0px 3px 4px black; 

            }
        /* Global structure for social media links */
    
    .div3 {
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0px 1px 10px 0px rgb(0, 0, 0), 0px 0px 1px 1px rgba(255, 255, 255, 0.205) inset;
        background: rgb(255, 0, 0);
        grid-column: 1;
    }
        .div3:hover{
            transition: 0.3s;
            box-shadow: 0px 0px 10px 5px black, 0px 0px 10px 0px rgb(255, 80, 118) inset;
        }
        
    .div4 {
        transition: 0.3s;
        box-shadow: 0px 1px 10px 0px rgb(0, 0, 0), 0px 0px 1px 1px rgba(255, 255, 255, 0.205) inset;
        background: rgb(19, 0, 194);
        grid-column: 2;
    }
        .div4:hover{
            transition: 0.3s;
            box-shadow: 0px 0px 10px 5px black, 0px 0px 10px 0px rgb(162, 80, 255) inset;
        }

    .div5 {
        transition: 0.3s;
        box-shadow: 0px 1px 10px 0px rgb(0, 0, 0), 0px 0px 1px 1px rgba(255, 255, 255, 0.205) inset;
        background: green;
        grid-column: 3;
    }
        .div5:hover {
            transition: 0.3s;
            box-shadow: 0px 0px 10px 5px black, 0px 0px 10px 0px rgb(80, 255, 133) inset;
        }

    .div6 {
        transition: 0.3s;
        box-shadow: 0px 1px 10px 0px rgb(0, 0, 0), 0px 0px 1px 1px rgba(255, 255, 255, 0.205) inset;
        grid-column: 2;
        background: rgb(255, 94, 0);
    }
        .div6:hover {
            transition: 0.3s;
            box-shadow: 0px 0px 10px 5px black, 0px 0px 10px 0px rgb(255, 76, 32) inset;
        }
    .div7 {
        transition: 0.3s;
        box-shadow: 0px 1px 10px 0px rgb(0, 0, 0), 0px 0px 1px 1px rgba(255, 255, 255, 0.205) inset;
        background: rgb(255, 0, 255);
        grid-column: 1;
        grid-row: 2;
    }
        .div7:hover{
            transition: 0.3s;
            box-shadow: 0px 0px 10px 5px black, 0px 0px 10px 0px rgb(236, 32, 255) inset;
        }
    /* Ending of social media links */

    /* Global styling */
    a{
        text-decoration: none;
    }
    a:link{
        color: white;
    }
    a:hover{
        transition: 0.3s;
        text-shadow: 0px 0px 10px black;
    }
    a:visited{
        color: rgb(255, 232, 189);
    }
    .socialMediaBlockBase{
        width: 300px;
        height: 180px;
        margin: 1rem 2rem 1rem 2rem;
        border-radius: 0.5rem;
        border: 1px solid black;
        box-shadow: 0px 1px 10px 0px rgb(0, 0, 0), 0px 0px 1px 1px rgba(255, 255, 255, 0.205) inset;
        background-size: 300% 300%;
        background-image:
        linear-gradient(10deg, rgb(232, 59, 255) 0%, rgba(181, 102, 255, 0.37) 35%, rgb(0, 21, 37) 55%, rgb(0, 255, 255) 100%);
        -webkit-animation: animationBG 30s ease infinite;
            animation: animationBG 30s ease infinite;
    }
    .userNameClass{
        background: transparent;
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: xx-large;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.534);
        color: white;
        }
        .userSiteInformation{
            background: transparent;
            font-family: 'Merriweather', serif;
            font-size: x-small;
            margin-top: -20px;
        }
